html{
    background-color: #deebdd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px;
}

.card {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
}

img.card {
    height: 150px;
    /* width: 150px; */
    object-fit: contain;
}

h3.info {
    background-color: transparent;
    font-size: 3vh;
}

.text {
    text-align: left;
    padding-left: 40px;
}







