.container {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #2BD598;
    height: 3px;
}

.primary {
    display: flex;
    align-items: center;
    width: 100px;
    height: 0px;
    background-color: #2BD598;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    border: 1px solid #2BD598;
    cursor: pointer;
    border-radius: 10px;
}
  
.primary:hover {
    color: #d3d3d3;
}

.logo {
    height: 50px;
    margin-left: 30px;
}

a.buttontext {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    a {
        font-size: 15px;
    }

    .primary {
        font-size: 15px;
    }
  }






