html{
    background-color: #deebdd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 2%; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 32.5%;
}

.card {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px; */
    /* filter: drop-shadow(15px 20px 15px #474747); */
}

.elements {
    display: block;
}

h2 {
    background-color: transparent;
    font-size: 3vh;
}

.textfield {
    width: 100%;
    /* margin: 15px; */
}

.logbutton {
    border-radius: 4px;
    background-color: #4caf50;
    border: 2px;
    border-style: solid;
    border-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
    /* margin: 10px; */
}

.logbutton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #57c95a;
    border-color: #57c95a;
}

.logbutton:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #46a049;
    border-color: #46a049;
}

.signbutton {
    border-radius: 4px;
    background-color: #585756;
    border: 2px;
    border-style: solid;
    border-color: #585756;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
}

.signbutton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #6d6c6a;
    border-color: #6d6c6a;
}

.signbutton:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #4d4c4b;
    border-color: #4d4c4b;
}

.forgot {
    margin: 100px;
    align-self: flex-start;
}

.text {
    text-align: left;
    padding-left: 40px;
}

.green {
    margin-top: -15%;
    color: #1E5631;
}

p {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 900;
    font-size: 58px;
    letter-spacing: 5px;
}

.logo {
    margin-top: -15px;
    height: 200px;
    padding: 0px;
}

hr {
    margin-top: -10px;
    margin-bottom: 20px;
}
