html{
    background-color: #deebdd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 3%; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
}

.card {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
}

.elements {
    display: block;
}

h3 {
    background-color: transparent;
    font-size: 5vh;
}

.textfield {
    width: 100%;
    margin-top: 15px;
    /* margin-left: 20px; */
}

.name {
    width: 17.7vw;
    margin-bottom: 100px;
}

.create {
    border-radius: 4px;
    background-color: #4caf50;
    border: 2px;
    border-style: solid;
    border-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-top: 10px;
}

.cancel {
    border-radius: 4px;
    background-color: #585756;
    border: 2px;
    border-style: solid;
    border-color: #585756;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
}






