html{
    background-color: #deebdd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 3%; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
}

.card {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 10px 10px;
}

.elements {
    display: block;
}

h3 {
    background-color: transparent;
    font-size: 5vh;
}

.textfield {
    width: 100%;
    margin-top: 15px;
    /* margin-left: 20px; */
}

.name {
    width: 50%;
    margin-bottom: 100px;
}

.register {
    border-radius: 4px;
    background-color: #4caf50;
    border: 2px;
    border-style: solid;
    border-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-top: 10px;
}

.register:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #57c95a;
    border-color: #57c95a;
}

.register:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #46a049;
    border-color: #46a049;
}


.cancel {
    border-radius: 4px;
    background-color: #585756;
    border: 2px;
    border-style: solid;
    border-color: #585756;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    height: 55px;
    cursor: pointer;
}

.cancel:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #6d6c6a;
    border-color: #6d6c6a;
}

.cancel:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: #4d4c4b;
    border-color: #4d4c4b;
}






